@media (max-width: 768px) {
    .scroll-message {
        font-size: 1rem;
    }
    
    .links {
        font-size: 0.8rem;
        display: block;
        text-align: center;
        padding: 2;
        line-hight: 1.5;
    }

    a {
        display: block;
        text-align: center;
        padding: 2;
        line-hight: 1.5;
        
    }

    .Typewriter__wrapper {
        display: none;
        font-size: 0rem;
    }

    .montserrat-fonts {
        font-weight: 300;
    }
    
    .circle {
        display: none; 
    }
    .links a {
        display: block; /* Make each link a block element to place them in a list */
        margin-bottom: 10px; /* Add space between links */
    }
}



*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 100%;
    background: linear-gradient(211deg, rgba(124,68,79,1) 0%, rgba(159,82,85,1) 49%, rgba(225,106,84,1) 100%);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
    transition: transform 0.5s ease-in-out;
}

.page1 {
    background: none;
}

.page2 {
    background: none;
}

.wrapper.active-page1 .page1 {
    transform: translateY(0);
}

.wrapper.active-page2 .page2 {
    transform: translateY(0);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#typewriter-text {
    margin-top: -10px;
    display: inline-block;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.content {
    position: absolute;
    color: #bbbbbb;
    top: 32%;
}

.Typewriter__wrapper {
    display: inline-block;
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.5rem;
    border-right: 1.3px solid rgba(172, 172, 172, 0.75);
    animation: blink-caret 1s infinite;
}

@keyframes blink-caret {
    0%, 100% { border-color: transparent; }
    50% { border-color: rgba(255, 255, 255, 0.75); }
}

.popup {
    transform: translate(-50%, -50%);
    font-family: "Courier New", sans-serif;
    font-weight: 450;
    font-size: 2rem;
    color: #bbbbbb;
    opacity: 0;
}

@keyframes slideInJump {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);  
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.montserrat-fonts {
    font-family: "Courier New", sans-serif;
    color: #bbbbbb;
    font-optical-sizing: auto;
    font-weight: 400;
}

.header {
    font-size: 3rem;
    top: 25%;
    margin-bottom: 5px;
    animation: 2s ease-in-out forwards;
}

.links {
    position: absolute;
    top:58%;
    font-family: "Courier New", monospace;
    font-weight: 300;
    font-size: 1.2rem;
    opacity: 0;
}

a {
    color: #bbbbbb;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #123244;
    
}

.scroll-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        transform: translateX(-20px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.scroll {
    display: grid;
    place-items: center;
    color: #bbbbbb;
    block-size: 100svb;
    font-family: Courier New, monospace;
    font-size: 2rem;
    font-weight: 400;
}



body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: none; /* Hide the default cursor */
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

a, button, .wrapper, .popup, .links {
    cursor: none; /* Hide cursor on links and other elements */
}

.circle {
    --circle-size: 20px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid #bbbbbb;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
}
